.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    padding: 10px;

    @media screen and (max-width: 1450px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 980px) {
        grid-template-columns: 1fr;
    }
}

.link {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.01);
    }
}
