.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background: rgb(219, 219, 252);
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: inherit;
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
    }

    &:hover {
        background-color: rgb(202, 202, 245);
    }

    &:active {
        background-color: rgb(178, 178, 255);
    }
}

.noOutline {
    border: none;
}

.leftItems {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
