body {
    margin: 0;
    padding: 0;

    font-size: 24px;
    line-height: 1.4;

    h5 {
        font-size: 30px;
        margin: 0;
    }

    p {
        white-space: normal;
        word-break: break-word;
    }
}
